extends ./base

block content
    h1 トーク
    a(href="/help/talks") トークとは？
    .panel
        kyoppie-user-search(base_url="/talks/user/")
    if rooms|length
        .panel
            h2 自分が参加しているトーク一覧
            a(href="/talks/new_room") ルーム作成
            ul
                for room in rooms
                    li: a(href="/talks/room/"+room.id) #{room.name}
                        if not room.isOneToOne
                            | (#{room.users|length}人)
