extends ./base

block header
    script(type="riot/tag",template="jade",data-src="/static/"+git_commit+"/tags/talk-new-room.tag")
    script(type="riot/tag",template="jade",data-src="/static/"+git_commit+"/tags/user-search.tag")
    script(type="riot/tag",template="jade",data-src="/static/"+git_commit+"/tags/users.tag")
block content
    kyoppie-talk-new-room
