extends ./base

block header
    script(type="riot/tag",template="jade",data-src="/static/"+git_commit+"/tags/load-splash.tag")
    script(type="riot/tag",template="jade",data-src="/static/"+git_commit+"/tags/talk-edit.tag")
block content
    kyoppie-talk-edit(room_id=room_id)
